<div class="container">
  <div class="dropdown-container">
    <!-- Collection Dropdown -->
    <div class="collection-container">
      <div class="collection-arrow">
        <div class="custom-arrows">
          <span id="prev-arrow" class="arrow">‹</span>
        </div>
        <div class="custom-arrows">
          <span id="next-arrow" class="arrow">›</span>
        </div>
      </div>
      <select id="collection-filter" class="collection-custom-dropdown">
        {% for collection in collections %}
          <option
            value="{{ collection.url }}"
            {% if forloop.first %}
              selected
            {% endif %}
          >
            {{ collection.title }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="end-filter-wrapper">
      <!-- Vendor Dropdown -->
      <div class="vendor-container">
        <select id="vendor-filter" class="vendor-custom-dropdown styled-dropdown">
          <option value="">Brand</option>
          {% assign vendors = '' %}
          {% for product in products %}
            {% assign vendor = product.vendor %}
            {% unless vendors contains vendor %}
              {% capture vendors %}{{ vendors | append: ',' | append: vendor }}{% endcapture %}
              <option value="{{ vendor }}">{{ vendor }}</option>
            {% endunless %}
          {% endfor %}
        </select>
      </div>

      {% comment %} Jump To Btn {% endcomment %}
      <button class="jump-to-today-button">Jump to Today</button>
    </div>
  </div>

  <!-- Product List -->
  {% assign current_month = now | date: '%B' | downcase %}
  {% assign current_year = now | date: '%Y' %}

  <div
    class="product-list"
    id="product-list"
    data-current-month="{{ current_month }}"
    data-current-year="{{ current_year }}"
  >
    {% for product in collection.products %}
      {% assign tags = product.tags %}
      <div
        class="product-item"
        data-tags="{{ tags | join: ',' }}"
        data-vendor="{{ product.vendor }}"
        {% if tags contains current_month and tags contains current_year %}
          data-visible="true"
        {% else %}
          data-visible="false"
        {% endif %}
      >
        <a href="{{ product.url }}" class="product-ancor">
          <div class="product-title-wrapper">
            <h3 class="product-title">{{ product.title }}</h3>
          </div>
          <img class="product-image" src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
